<!--<hr>-->
<!--<h4>This is a counter</h4>-->
<!--<p> {{ counter }} </p>-->
<!--<button class="btn btn-primary" (click)="counterPlus()" style="margin-right: 10px"> Add One</button>-->
<!--<button class="btn btn-primary" (click)="resetCounter()"> Reset Counter</button>-->

<!--<hr>-->
<div class="col-md-4 offset-md-1 homework">
  <h4>做菜系统</h4>

  <div>
    <span>请输入第一道食材: </span>
    <input type="text" [(ngModel)]="userName">
  </div>

  <div>
    <span>请输入第二道食材: </span>
    <input type="text" [(ngModel)]="password">
  </div>

  <button class="btn btn-primary" (click)="login()" style="margin-right: 10px; margin-top: 10px"> 炒菜 </button>
  <button class="btn btn-primary" (click)="signOut()" style="margin-right: 10px; margin-top: 10px"> 炖菜 </button>
  <button class="btn btn-primary" (click)="return()" style="margin-right: 10px; margin-top: 10px"> 重新做 </button>
  <div>
    <div *ngIf="isLogin == 1" class="informBoxBoarder"> 你做了一道:
      {{ userName }} 炒 {{ password }}</div>
    <div *ngIf="isLogin == 2" class="informBoxBoarder"> 你做了一道:
      {{ userName }} 炖 {{ password }}</div>
  </div>
</div>
<!--<hr>-->
<!--<h4>This is a StudentList managed by ngfor loop</h4>-->
<!--<div *ngFor="let student of students">-->
<!--  <div style="margin-bottom: 2px;border-left: solid 2px; border-right: solid 2px; border-bottom: solid 2px; border-top: solid 2px; display: flex; justify-content: space-between">-->
<!--    <div><span style="color: cornflowerblue; margin-right: 5px">Student Name: </span> <span> {{ student.name }}</span></div>-->

<!--    <div><span style="color: cornflowerblue; margin-right: 5px;">Student Major: </span> <span>{{ student.major }}</span></div>-->
<!--  </div>-->
<!--</div>-->
