.informBoxBoarder{
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
  border-top: solid 2px;
  width: 300px;
  border-color: cornflowerblue;
}

.homework{
  position: absolute;
  border-left: 20px blue solid;
  border-right: 20px blue solid;
  border-top: 20px blue solid;
  border-bottom: 20px blue solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  right: 20%;
  left: 20%;
  top: 20%;
  bottom: 20%}

.other{
  right: 20%;
  left: 20%;
  position: relative}
